@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model MummyData


<div class="card card-outline-primary m-1 p-1 col">
    <div class="bg-light p-1">
        <h3>ID: @Model.Id</h3>
    </div>

    @*<div class="col-4">
        <table>
            <tbody>
                <tr>
                    <td>ID</td>
                    <td>@Model.Id</td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td>@Model.Location</td>
                </tr>
                <tr>
                    <td>Sex</td>
                    <td>@Model.Sex</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col">
        <img src="@Model.Photo" height="75px" />
    </div>*@

    <ul class="card-text p-1" style="list-style:none">
        <li>ID: @Model.Id</li>
        <li>Location: @Model.Location</li>
        <li>Sex: @Model.Sex</li>
        @*<li>Head Direction: @Model.HeadDirection</li>
        <li>Burial Number: @Model.BurialNumber</li>
        <li>Age at Death: @Model.AgeAtDeath</li>
        <li>Structure: @Model.StructureValue</li>
        <li>Color: @Model.ColorValue</li>
        <li>Textile: @Model.TextileValue</li>
        <li>Field Notes: @Model.FieldNotes</li>
        <li>Length: @Model.Length</li>*@
        <li>
            <br />
            <img src="@Model.Photo" height="75px"/>
        </li>
    </ul>

    <form method="post" asp-controller="Home" asp-action="IndividualDetail">

        <input type="hidden" asp-for="@Model.Id"/>

        <span class="card-text">
            <button type="submit" class="btn btn-success btn-sm float-end">View More Information</button>
        </span>

    </form>


</div>