@{
    ViewData["Title"] = "Delete";
}

@model MummyData

<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <h1 class="display-5 fw-bolder text-white mb-2 text-center">Delete Record</h1>
        </div>
    </div>
</header>

<div class="container text-center">
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Location)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Location)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Depth)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Depth)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.HeadDirection)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.HeadDirection)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Sex)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Sex)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.HairColor)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.HairColor)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.BurialNumber)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.BurialNumber)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.AgeAtDeath)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.AgeAtDeath)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.StructureValue)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.StructureValue)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.ColorValue)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.ColorValue)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.TextileValue)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.TextileValue)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.FieldNotes)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.FieldNotes)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Length)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Length)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Photo)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Photo)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="PkId" />
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Table" class="btn btn-primary">Back to Table</a>
        </form>
    </div>
</div>