@{
    ViewData["Title"] = "Records";
}

@model List<MummyData>

<table class="table table-bordered table-striped">
    <!--Column Names-->
    <thead class="font-weight-bold">
        <tr>
            <td>ID</td>
            <td>Location</td>
            <td>Sex</td>
            <td>Age at Death</td>
            <td>Head Direction</td>
            <td>Hair Color</td>
            <td>TextileValue.</td>
            <td>ColorValue.</td>
            <td>BurialNumber.</td>
            <td>StructureValue.</td>
            <td>TextileValue.</td>
            <td>Length</td>
            <td>Photo</td>

            <td>Data Expert Initials</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var x in Model)
            {
                <tr>
                    <td>@x.Id</td>
                    <td>@x.Location</td>
                    <td>@x.Sex</td>
                    <td>@x.AgeAtDeath.</td>
                    <td>@x.HeadDirection.</td>
                    <td>@x.HairColor.</td>
                    <td>@x.TextileValue.</td>
                    <td>@x.ColorValue.</td>
                    <td>@x.BurialNumber.</td>
                    <td>@x.StructureValue.</td>
                    <td>@x.TextileValue.</td>
                    <td>@x.Length</td>
                    <td>@x.Photo</td>

                    <td><a asp-controller="Home" asp-action="Edit" asp-route-recordid="@x.Id">Edit</a></td>
                    <td><a asp-controller="Home" asp-action="Delete" asp-route-recordid="@x.Id">Delete</a></td>
                </tr>
            }
    </tbody>
</table>