@{
    ViewData["Title"] = "Records";
}

@model List<Burialmain>

<table class="table table-bordered table-striped">
    <!--Column Names-->
    <thead class="font-weight-bold">
        <tr>
            <td>ID</td>
            <td>Sex</td>
            <td>Child/Adult</td>
            <td>Age of Death</td>
            <td>Depth</td>
            <td>Head Direction</td>
            <td>Data Expert Initials</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var x in Model)
            {
                <tr>
                    <td>@x.Id</td>
                    <td>@x.Sex</td>
                    <td>@x.Adultsubadult</td>
                    <td>@x.Ageatdeath</td>
                    <td>@x.Depth</td>
                    <td>@x.Headdirection</td>
                    <td>@x.Dataexpertinitials</td>

                    <td><a asp-controller="Home" asp-action="Edit" asp-route-id="@x.Id">Edit</a></td>
                    <td><a asp-controller="Home" asp-action="Delete">Delete</a></td>

                    
                </tr>
            }
    </tbody>
</table>